:root{
  /* sizing	*/
	--margin: 2rem;
	--margin_bottom: 0.75rem;
	--ui_padding: 0.5rem;
	--button_padding: 0.25rem;
	--s_font_size: 1rem;
	--xs_font_size: 0.65rem;

  /* Colors	*/
	--transparent_white: rgba(255, 255, 255, 0.45);
	--yellow: #f7d011;
	--box_shadow_color: rgba(0, 0, 0, 0.5);


  /* Decorators	*/
	--box_shadow: 0 0.25rem 0.5rem var(--box_shadow_color);
	--border: 1px solid #000;
	--border_radius: 0.25rem;
	--transition_time: 0.5s;
}

@font-face {
	font-family: 'FT88-Regular';
	src: url(../fonts/FT88-Regular.woff) format('woff'),
		url(../fonts/FT88-Regular.woff2) format('woff2');
}

html,body{
	font-size: 12px;
	font-family: 'FT88-Regular', monospace;
	background-color: #000;
}

#canvas_container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.loaded #loading{
	opacity: 0;
}

#loading{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	transition: opacity var(--transition_time) ease-in;
	opacity: 1;
}

@keyframes fadeIn1 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	26% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn2 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	56% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn3 {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	76% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

#loading span{
	opacity: 0;
}

#loading span:nth-child(1){
	animation: fadeIn1 1s ease-in 0s infinite;
}
#loading span:nth-child(2){
	animation: fadeIn2 1s ease-in 0s infinite;
}
#loading span:nth-child(3){
	animation: fadeIn3 1s ease-in 0s infinite;
}

.loaded #background{
	opacity: 1;
	filter: blur(0px);

}

#info_slideshow{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 28rem;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

#info_slideshow nav{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

#slide_controls{
	display: flex;
	align-items: center;
}

#slide_controls .button{
	margin-left: calc(var(--margin)/2);
}

#slide_content{
	width: 100%;
	height: 5rem;
}

#info_slideshow .button{
	margin-bottom: 0;
}

#show_info{
	position: fixed;
	bottom: var(--margin);
	right: var(--margin);
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	font-family: 'FT88-Regular', monospace;
	cursor: pointer;
}

#background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0;
	filter: blur(8px);
	transition: opacity var(--transition_time) ease-in, filter var(--transition_time) ease-in;
	object-fit: cover;
}

/* General Styles for Overlays */

.center{
	text-align: center;
}

.tethering .ui:not(#character_controls):not(#general_controls):not(#info_slideshow){
	opacity: 0.33;
	filter: blur(2px);
	pointer-events: none;
}

.loaded:not(.info_hidden) #info_slideshow.ui{
	opacity: 1;
	filter: blur(0px);
	pointer-events: auto;
}

.loaded .ui:not(#info_slideshow){
	opacity: 0.33;
	filter: blur(2px);

}

.loaded.info_hidden .ui:not(#info_slideshow){
	opacity: 1;
	filter: blur(0px);
}

.loaded.info_hidden.ui_hidden .ui:not(#show_ui){
	opacity: 0 !important;
	filter: blur(2px) !important;
	pointer-events: none;
}

.ui{
	position: fixed;
	background-color: var(--transparent_white);
	backdrop-filter: blur(2px);
	padding: var(--ui_padding);
	box-shadow: var(--box_shadow);
	border-radius: var(--border_radius);
	box-sizing: border-box;
	filter: blur(2px);
	opacity: 0;
	z-index: 100;
	transition: transform ease-in var(--transition_time), opacity ease-in var(--transition_time) var(--transition_time), filter ease-in var(--transition_time) var(--transition_time);
}

.ui.show{
	opacity: 1 !important;
	filter: blur(0px) !important;
	pointer-events: none;
}

.ui.minimized{
	padding-bottom: 0;
}

.ui.minimized > *:not(.ui_header){
	display: none;
}

.ui.minimized .ui_header{
	margin-bottom: 0;
	border-color: transparent;
}

.ui_header{
	width: 100%;
	display: flex;
	position: sticky;
	position: -webkit-sticky;
	align-items: center;
	top: 0;
	z-index: 10;
	border-bottom: var(--border);
	margin-bottom: var(--ui_padding);
	padding-bottom: var(--ui_padding);
	z-index: 10;
	cursor: move;
}

.ui_header h2{
	margin-bottom: 0;
}

.ui_header:after{
	content: "";
	position: absolute;
	top: calc(var(--ui_padding) * -1 );
	bottom: 0;
	left: calc(var(--ui_padding) * -1);
	width: calc(100% + var(--ui_padding) * 2);
	z-index: -1;
	background-color: rgba(255, 255,255,1);
}

.ui_header .button{
	padding-top: 0;
	padding-bottom: 0;
	margin-left: var(--margin);
}

.ui_header .button:hover{
	background-color: black;
	color: white;
	border-color: transparent;
	box-shadow: none;
}

.vertical{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.vertical .button{
	margin-bottom: var(--margin_bottom);
}

.vertical .button:last-child{
	margin-bottom: 0;
}

.character_button{
	border-color: black;
	font-family: 'FT88-Regular', monospace;
	font-size: var(--s_font_size);
	box-shadow: 0;
	border: none;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}

.delete_character{
	right: 3.5rem;
	color: #f00;
}

.delete_character:after{
	content: 'delete';
	position: absolute;
	left: calc(100%);
	top: 0.35rem;
	white-space: nowrap;
	font-size: var(--xs_font_size);
	color: #000;
}

.group_button{
	left: 40%;
	width: 1rem;
	height: 1rem;
	top: 0.25rem;
	box-sizing: border-box;
	border-radius: 50%;
	transition: box-shadow ease var(--transition_time);
}

.group_button:disabled{
	opacity: 0;
	pointer-events: none;
}

.group_select{
	border: 1px solid #00f;
}

.group_select:before,
.group_deselect:before{
	position: absolute;
	left: calc(100% + 0.5rem);
	white-space: nowrap;
	font-size: var(--xs_font_size);
}

.in_group .group_select:before{
	display: none;
}

.group_select:before{
	top: 0.15rem;
	content: 'group';
}

.group_deselect:before{
	top: 0.25rem;
	content: 'un-group';
}

.group_select:hover{
	box-shadow: 0 0 0.25rem #00f;
}

.group_deselect{
	background-color: #00f;
	box-shadow: 0 0 0.25rem #00f;
}



.button{
	background-color: transparent;
	border-color: black;
	font-family: 'FT88-Regular', monospace;
	font-size: var(--s_font_size);
	border: var(--border);
	padding: var(--button_padding);
	box-shadow: 0;
	transition: background-color ease var(--transition_time), box-shadow ease var(--transition_time), border ease var(--transition_time);
}

.alignment{
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 5.5rem;
	margin-top: 0.5rem;
}

.group .align_button{
	border-color: #00f;
}

.group .align_button img{
	filter: invert(8%) sepia(98%) saturate(7479%) hue-rotate(248deg) brightness(99%) contrast(141%);
}

.button.align_button{
	display: block;
	width: 25%;
	border-radius: 50%;
	box-sizing: border-box;
}

.button img{
	display: block;
	width: 100%;
}

.button.selected{
	background-color: var(--yellow);
	border-color: var(--yellow);
}

a{
	text-decoration: none;
	border-bottom: 2px solid var(--yellow);
	color: #000;
	display: inline-block;
}

a:hover{
	background-color: var(--yellow);
	border-bottom: 2px solid transparent;
}

.button:hover{
	background-color: white;
	border-color: white;
	box-shadow: var(--box_shadow);
	cursor: pointer;
}

.button:disabled,
.button[disabled]{
	opacity: 0.25;
}

.button:disabled:hover,
.button[disabled]:hover{
	background-color: transparent;
	border-color: black;
	box-shadow: none;
}


#file_upload_wrapper{
	position: relative;
}

#file_upload_wrapper .button{
	display: inline-block;	
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  top: 0px;
  left: 0px;
  font-family: 'FT88-Regular', monospace;
}

input[type='range']{
	-webkit-appearance: none;
	background-color: var(--yellow);
	width: 100%;
	border-radius: 0.25rem;
	height: 0.5rem;
	margin-top: var(--margin_bottom);
	margin-bottom: var(--margin_bottom);
	cursor: pointer;
}

#character_select_container{
	top: var(--margin);
/*	transform: translateY(-50%);*/
	right: var(--margin);
	width: 20rem;
	max-height: 33vh;
	overflow: auto;
}

#character_controls{
	position: fixed;
	top: calc(33vh + var(--margin) * 2);
	left: calc(100% - 20rem - var(--margin));
	width: 20rem;
}

#character_width{
	margin-top: var(--margin_bottom);
}

.character_group{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: var(--margin_bottom);
}

.character_group:last-child{
	margin-bottom: 0;
}

h2{
	font-size: var(--s_font_size);
	margin: 0;
	padding: 0;
	font-weight: 400;
	margin-bottom: var(--margin_bottom);
	width: 100%;
}

.character{
	width: 20%;
	width: 20%;
	margin: 0.4rem;
}

#about{
	position: fixed;
	width: 28rem;
	top: var(--margin);
	left: calc(50% - 14rem);
}

#scene_characters{
	position: fixed;
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	flex-direction: column;
	left: var(--margin);
	top: var(--margin);
	width: 20rem;
	max-height: 33vh;
	box-sizing: border-box;
}

#remove_group{
	position: sticky;
	top: 3.25rem;
	margin-bottom: var(--margin_bottom);
	z-index: 10;
}

#remove_group:disabled{
	opacity: 1;
	background-color: #bebebe;
}

#remove_group{
	background-color: #fff;
}

#align_letters{
	position: sticky;
	top: calc(3.25rem + var(--margin_bottom));
	z-index: 10;
}

.scene_character{
	position: relative;
	margin-top: var(--margin_bottom);
	padding-top: var(--button_padding);
	padding-bottom: var(--button_padding);
}

#general_controls{
	top: calc(100% - 12.31rem - var(--margin));
	left: var(--margin);
}

.ui_hidden #show_ui{
	opacity: 1;
}

.ui#show_ui{
	display: none;
	position: fixed;
	bottom: var(--margin);
	left: var(--margin);
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	font-family: 'FT88-Regular', monospace;
	cursor: pointer;
	opacity: 0;
	transition: opacity ease var(--transition_time) !important; 
}

#transform_controls{
	top: calc(100% - 10rem - var(--margin));
	left: 20rem;
}

#background_controls{
	width: calc(16rem - var(--margin));
	top: calc(100% - 20rem - var(--margin));
	left: calc(100% - 20rem - var(--margin));
}

.character_coordinates_wrapper{
	display: flex;
	flex-wrap: wrap;
	margin-top: var(--margin_bottom);
	font-size: var(--xs_font_size);
}

.character_coordinates_wrapper > div:not(.character_label){
	width: 60%;
}

.character_label{
	width: 40%;
}

#warning{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 100;
	width: 28rem;
	max-width: calc(100% - var(--margin) * 2);
	height: 5rem;;
}

#warning p{
	top: 0;
	opacity: 0;
	position: absolute;
	transition: opacity ease var(--transition_time);
	color: white;
}

@media (hover: none) {
	#canvas_container,
	.ui,
	#background{
		display: none !important;
	}
	#warning{
		display: block;
	}
	#warning p:nth-child(2){
		opacity: 1;
	}
}

@media (max-width: 1050px) or (max-height: 700px){
	#canvas_container,
	#background,
	.ui{
		display: none !important;
	}
	#warning{
		display: block;
	}
	#warning p:nth-child(1){
		opacity: 1;
	}
}